# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.spec
*.png
*.ico
*.png~
.idea/
idFileDeCompressor.exe
oo2core_8_win64.dll
ignore_this/
testing_compilation.py
EternalTraversalInfoGenerator/
RPCInterface/
test_compression.py
build/
dist/
GeneratedEBL/
ebl_cache.txt
cache.txt
testing_compilation_pvp.py
testing_compilation_pvp_hard.py
ebl_cache/